@model IEnumerable<PruebaDix.Models.Views.vw_AutoresMasVenden>

@{
    ViewBag.Title = "Autores que más venden";
}

<h2>Los 10 autores que más venden en la historia</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                <b>Nombre</b>
            </td>
            <td>
                <b>Cantidad Vendida</b>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.au_fname @item.au_lname
                </td>
                <td>
                    @item.cantidad
                </td>
            </tr>
        }
    </tbody>
</table>

